{% extends 'base.html'%}
{%load static%}
{%block content%}

<html>
<head>
	<script src="{%static 'js/jquery-2.0.0.min.js'%}" type="text/javascript"></script>

	<!-- custom style -->
	<link href="{%static 'css/ui.css'%}" rel="stylesheet" type="text/css" />


	<link
		href="{%static 'css/responsive.css'%}"
		rel="stylesheet"
		media="only screen and (max-width: 1200px)"
	/>

	<!-- custom javascript -->
	<script src="{%static 'js/script.js'%}" type="text/javascript"></script>

	<script type="text/javascript">
		/// some script

		// jquery ready start
		$(document).ready(function () {
			// jQuery code
		});
		// jquery end
	</script>
</head>
<body>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg" style="margin-top:100px">
<div class="container">
	{%if 'search' in request.path%}
	<h2 class="title-page">Search Result</h2>
	{%else%}
	<h2 class="title-page">Library Book Store</h2>
	{%endif%}
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->




<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">

<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Genres</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">

				<ul class="list-menu">
					<li><a href="{% url 'bookstore' %}">All Books </a></li>
					{% for genre in links%}
				<li><a href="{{genre.get_url}}">{{genre.genre_name}} </a></li>
				{%endfor%}
				</ul>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto">Found <b>{{book_count}}</b> books</span>

		</div>
</header><!-- sect-heading -->

<div class="row">
	{%if books%}
	{% for book in books %}
	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap mt-2">

				<img src="{{book.Images.url}}" alt="Book Image">

			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="{{book.get_url}}" class="title">Book Title: {{book.book_title}}</a>
					<div class="mt-2">
						<span >Author: {{book.author_name}}</span>

					</div> <!-- price-wrap.// -->
				</div>
				<a href="{{book.get_url}}" class="btn btn-block btn-primary">View Book Details </a>
			</figcaption>
		</figure>
	</div> <!-- col.// -->
	{%endfor%}
	{%else%}
	<div>
		<h2>No result found. Please try again</h2>
	</div>
	{%endif%}

</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
	{% if books.has_other_pages%}
  <ul class="pagination">
		{% if books.has_previous%}
    <li class="page-item"><a class="page-link" href="?{%if keyword%}keyword={{keyword}}&{%endif%}page={{books.previous_page_number}}">Previous</a></li>
		{%else%}
		<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
		{%endif%}
     {%for i in books.paginator.page_range%}
		 		{%if books.number == i%}
    		<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
				{%else%}
				<li class="page-item"><a class="page-link" href="?{%if keyword%}keyword={{keyword}}&{%endif%}page={{i}}">{{i}}</a></li>
				{%endif%}

		{%endfor%}
		{% if books.has_next%}
    <li class="page-item"><a class="page-link" href="?{%if keyword%}keyword={{keyword}}&{%endif%}page={{books.next_page_number}}">Next</a></li>
		{%else%}
		<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
		{%endif%}
  </ul>
	{%endif%}
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>


{%endblock%}
