{%extends 'base.html'%}
{%load static%}
{%block content%}



<html>
<head>
	<script src="{%static 'js/jquery-2.0.0.min.js'%}" type="text/javascript"></script>

	<!-- custom style -->
	<link href="{%static 'css/ui.css'%}" rel="stylesheet" type="text/css" />


	<link
		href="{%static 'css/responsive.css'%}"
		rel="stylesheet"
		media="only screen and (max-width: 1200px)"
	/>

	<!-- custom javascript -->
	<script src="{%static 'js/script.js'%}" type="text/javascript"></script>

	<script type="text/javascript">
		/// some script

		// jquery ready start
		$(document).ready(function () {
			// jQuery code
		});
		// jquery end
	</script>
</head>
<body>


<section class="section-content padding-y bg" style="margin-top:100px">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->

<div class="row">
	<aside class="col-lg-6">
<div class="card">
<div class="card-body">
  <h4  class="card-title mb-4">Basic Information</h4>
     <form action="{% url 'order_bookloan' %}"" method="POST">
       {%csrf_token%}
       <div class="row">
          <div class="col form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" required>
           </div>
           <div class="col form-group">
             <label for="last_name">Last Name</label>
             <input type="text" id="last_name" name="last_name" class="form-control" required>
            </div>
          <div>
            <div class="row">
               <div class="col form-group">
                 <label for="">Email</label>
                 <input type="email" name="email" class="form-control" required>
                </div>
                <div class="col form-group">
                  <label for="">Phone Number</label>
                  <input type="text" name="phone" class="form-control" required>
                 </div>
               <div>

                           <div class="row">
                             <label for="">Order Note</label>
                             <textarea name="bookloan_note" rows="2" class="form-control"></textarea>
                              <div>


  </div>

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-6">

		<div class="card">
		<div class="card-body">
      <table class="table table-borderless table-shopping-cart">
      <thead class="text-muted">
      <tr class="small text-uppercase">
        <th scope="col">Books For Loan</th>
        <th scope="col" width="200">Quantity</th>
        <!-- <th scope="col" width="120">Price</th> -->

      </tr>
      </thead>
      <tbody>

        {%for cart_item in cart_items%}
      <tr>
        <td>
          <figure class="itemside align-items-center">
            <div class="aside"><img src="{{cart_item.book.Images.url}}" width="25px" class="img-sm"></div>
            <figcaption class="info">
              <a href="{{cart_item.book.get_url}}" class="title text-dark">{{cart_item.book.book_title}}</a>
              <p class="text-muted small">Author Name: {{cart_item.book.author_name}} <br>Publisher Name: {{cart_item.book.publisher_name}}</p>
            </figcaption>
          </figure>
        </td>
        <td>
            <label for="">{{cart_item.quantity}}</label>

        </td>
        <!-- <td>
          <div class="price-wrap">
            <var class="price">${{cart_item.sub_total}}</var>
            <br>
          <small class="text-muted"> ${{cart_item.book.price}} </small>
          </div>
        </td> -->

      </tr>
      {%endfor%}
      </tbody>
      </table>


      <div class="text-center">
			<button type="submit" name="submit" class="btn btn-primary btn-block">Place Order</button>
      </div>
      <div class="text-center mt-2">
			<a href="{% url 'bookstore'%}" class="btn btn-light btn-block">Continue Exploring Books</a>
      </div>
      </form>
    </div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
</div> <!-- container .//  -->
</section>

<div style="height:150px">
  </div>
{%endblock%}
